.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background:rgba(0,0,0,0.9);
  padding: 30px;
  max-width: 500px;
  width: 90%;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0px 0px 30px #ff6a00;
}

.modal h3 {
  margin-bottom: 15px;
  color:rgb(209, 87, 34);
}

.modal ul {
  padding-left: 0;           /* remove default padding */
  margin-bottom: 20px;
  color: white;
  list-style: none;          /* remove bullets */
}

.modal ul li {
  position: relative;
  padding-left: 25px;        /* space for the arrow */
  margin-bottom: 10px;       /* optional spacing */
}

.modal ul li::before {
  content: '> ';
  position: absolute;
  left: 0;
  color: #ff6a00;
  font-weight: bolder;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-buttons .btn {
  padding: 8px 15px;
  cursor: pointer;
}
