.card {
  background: #111;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid rgba(255,106,0,0.2);
  transition: 0.4s;
}

.card:hover {
  border: 1px solid #ff6a00;
  box-shadow: 0 0 25px rgba(255,106,0,0.4);
  transform: translateY(-5px);
}

.card h3 {
  margin-top: 20px;
  color: #ff6a00;
}

.card p {
  margin-top: 15px;
  opacity: 0.7;
  font-size: 14px;
}