/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit';
  background-color: #0b0b0f;
  color: white;
}
a{
    text-decoration: none;
    color: white;
}

/* ===== Custom Orange Scrollbar ===== */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0b0f;
}

::-webkit-scrollbar-thumb {
  background: #ff6a00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8533;
}

/* Firefox */
html {
  scrollbar-color: #ff6a00 #0b0b0f;
  scrollbar-width: thin;
}

/* ===== Grid Background ===== */
.grid-bg {
  background-image: 
    linear-gradient(rgba(255,106,0,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,106,0,0.05) 1px, transparent 1px);
  background-size: 60px 60px;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}


/* ===== Section Titles ===== */
.section {
  padding: 120px 60px 10px;
  text-align: center;
}

.section h2 {
  font-size: 50px;
}

.section h2 span {
  color: #ff6a00;
}.intro-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
}

.intro-video {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.emoj-icon {
  margin-right: 8px;
  font-size: 20px;
  vertical-align: middle;
}

.yes-btn,
.no-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Funny Intro */
.funny-intro {
  flex-direction: column;
  text-align: center;
  position: relative;
}

.funny-title {
  font-size: 28px;
  margin-bottom: 40px;
  color:var(--text-primary);
  text-shadow: 2px 2px 6px #ff6a00;
}

.funny-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

/* YES Button */
.yes-btn {
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(90deg, #ff6a00, #e05a00);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.yes-btn:hover {
  transform: scale(1.1);
}

/* NO Button Default */
.no-btn {
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 40px;
  border: none;
  background: #444;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

/* When Moving */
.no-btn.moving {
  position: absolute;
}
@media (max-width:780px) {
  .intro-video {
    width: 100%; 
  }
  .intro-video {
  position: absolute;
  top: 0;
  left: -5%;
}.section {
  padding: 10px 10px 10px;
  text-align: center;
}
}


